body {
    font-family: Poppins, sans-serif;
    background-color: rgb(25, 87, 66);
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(25, 87, 66);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 123, 0);
}

#container {
    width: 720px !important;
    margin: auto;
    align-items: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-height: 750px;
}

.container-flow {
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;
    padding: 10px;
}

h2 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.subheadings {
    text-align: center;
}

.submit-btn {
    background-color: rgb(255, 123, 0);
    color: white;
    text-align: center;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.submit-btn:hover {
    background-color: rgb(253, 145, 44);
    color: white;
    text-align: center;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}

.button-container {
    text-align: center;
    margin-top: 15px;
}

input {
    padding: 15px 15px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    border-radius: 3px;
    border: none;
    background-color: #f4f4f4;
}

select {
    padding: 15px 15px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    border-radius: 3px;
    border: none;
    background-color: #f4f4f4;
}

input:hover {
    padding: 15px 15px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    border-radius: 3px;
    border: 1px solid green;
    background-color: #f4f4f4;
}

input:focus {
    border: 1px solid green;
    background-color: #f4f4f4;
}

input.halver {
    display: flex;
    flex-direction: row;
    width: 45%;

}

select.halver {
    display: flex;
    flex-direction: row;
    width: 45%;

}

input.fullwidthfield {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.singlerow {
    padding: 10px 0px;
    width: 100%;
}

.flex-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 16px;
}